@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

:root {
  --border-color: #e3e5e4;
  --background-color: #c3c7ca;
  --text-color: #34444f;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.draggable-list {
  border: 1px solid var(--border-color);
  color: var(--text-color);
  padding: 1rem 2rem;
  list-style-type: none;
}

li {
  cursor: pointer;
  padding: 1rem;
  margin: 1rem auto;
  border: 1px solid var(--border-color);
}

li span:first-of-type {
  display: inline-block;
  margin-right: 1rem;
}

.dragging {
  opacity: 0.5;
  background-color: aquamarine;
}

.over {
  opacity: 0.7;
}
